.section {
  color: white;
  padding: 3% 0 1% 0; }
  .section .title-section {
    font-family: pleaseWrite, sans-serif;
    font-size: 5em;
    margin: 0; }
  .section .subtitle-section {
    display: block;
    font-family: sacramento, cursive;
    font-size: 3em;
    margin-top: -18px; }

.pd-top {
  padding-top: 5%; }

.padding-vertical {
  padding-top: 20%;
  padding-bottom: 5%; }

.pd-bottom {
  padding-bottom: 5%; }

.tienda {
  padding-top: 5%; }
  .tienda .title-section-blue {
    color: #192c4a;
    font-family: pleaseWrite, sans-serif;
    font-size: 5em;
    margin: 0; }
  .tienda .subtitle-section-blue {
    color: #192c4a;
    display: block;
    font-family: sacramento, cursive;
    font-size: 3em;
    margin-top: -18px; }
  .tienda img {
    max-width: 60%; }

.fotografo {
  position: relative;
  /*top: 4220px;
  right: 210px;*/
  z-index: 1000; }

nav {
  background-color: transparent;
  background-image: url(../img/bg-header.jpg);
  background-position: center;
  background-size: cover;
  height: 75px;
  line-height: 75px; }
  nav .brand-logo {
    line-height: 0px; }
    nav .brand-logo .logo {
      margin-top: 4px; }
  nav ul a {
    font-family: sacramento, cursive;
    font-size: 2em; }
    nav ul a:hover {
      font-weight: 600; }
  nav ul a.ico-rrss {
    display: inline-block;
    font-size: 1.5em;
    padding: 0 10px; }
    nav ul a.ico-rrss:hover {
      color: #274470; }
  nav .side-nav {
    background: #d40000;
    padding-top: 4%;
    width: 250px; }
    nav .side-nav li {
      text-align: center; }
      nav .side-nav li a {
        font-family: sacramento, cursive;
        font-size: 2em;
        color: white; }
        nav .side-nav li a:hover {
          font-weight: 600; }
      nav .side-nav li a.ico-rrss {
        display: inline-block;
        font-size: 2em;
        padding: 0 10px; }
        nav .side-nav li a.ico-rrss:hover {
          color: #ff212b; }
        nav .side-nav li a.ico-rrss span {
          margin: 0; }

.chilito-center {
  margin-top: 0; }

.video {
  position: relative;
  height: 565px;
  background-image: url(../img/bg-video.jpg);
  background-position: center;
  background-size: cover; }
  .video .chilito-center {
    position: absolute;
    margin-top: -3%;
    margin-left: 30%; }
  .video .cont-video {
    position: absolute;
    margin-top: -1%;
    margin-left: 20%; }
    .video .cont-video .cont-play {
      position: relative;
      font-size: 10em;
      margin-top: -74%;
      margin-left: -10%; }
      .video .cont-video .cont-play a {
        color: white; }
        .video .cont-video .cont-play a:hover {
          color: #e0e0e0; }
  .video h2 {
    position: relative; }
  .video span {
    position: relative; }
    .video span i {
      font-size: 0.4em; }
  .video .modal {
    height: 500px;
    min-height: 250px; }
    .video .modal .modal-content {
      height: 100%; }
      .video .modal .modal-content iframe {
        width: 100%;
        height: 100%; }

.club {
  background-image: url(../img/bg-pagina-3.jpg);
  background-position: center;
  background-size: cover; }
  .club .astronauta {
    max-width: 100%;
    padding: 35% 0; }
  .club input {
    border: solid 1px white;
    padding: 1%;
    width: 60%; }
  .club .boton-club {
    width: 60%; }
  .club .title-section-club {
    font-family: pleaseWrite, sans-serif;
    font-size: 2em;
    margin: 0; }

#tituloDeslizable {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 3s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 3s;
  -moz-animation-iteration-count: 1;
  -o-animation-duration: 2s;
  -o-animation-delay: 3s;
  -o-animation-iteration-count: 1;
  -ms-animation-duration: 2s;
  -ms-animation-delay: 3s;
  -ms-animation-iteration-count: 1; }

#subtituloDeslizable {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 3s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 3s;
  -moz-animation-iteration-count: 1;
  -o-animation-duration: 2s;
  -o-animation-delay: 3s;
  -o-animation-iteration-count: 1;
  -ms-animation-duration: 2s;
  -ms-animation-delay: 3s;
  -ms-animation-iteration-count: 1; }

.formulario {
  padding-top: 5%; }
  .formulario .submit {
    height: 30%;
    padding: 3%;
    background-color: #ff212b;
    font-family: pleaseWrite, sans-serif;
    border: none;
    border-radius: 10%;
    font-size: 1.6em; }

.back-bienvenido {
  background-image: url(../img/bg-video.jpg);
  background-position: center;
  background-size: cover; }
  .back-bienvenido .title-section-bienvenido {
    font-family: pleaseWrite, sans-serif;
    font-size: 5em;
    margin: 0;
    color: white; }
  .back-bienvenido .subtitle-section-bienvenido {
    display: block;
    font-family: sacramento, cursive;
    font-size: 3em;
    margin-top: -18px;
    color: white; }

.recuerdos {
  background-image: url(../img/bg-pagina-6.jpg);
  background-position: center;
  background-size: cover; }
  .recuerdos .astronauta {
    max-width: 100%;
    padding: 35% 0; }
  .recuerdos input {
    border: solid 1px white;
    padding: 1%;
    width: 60%; }
  .recuerdos .boton-club {
    width: 60%; }
  .recuerdos .title-section- {
    font-family: pleaseWrite, sans-serif;
    font-size: 2em;
    margin: 0; }

.foto {
  background-color: #f0f0f0;
  padding: 3%;
  border: solid 1px grey; }
  .foto img {
    max-width: 90%;
    padding-top: 5px; }

.escribeme {
  background-image: url(../img/bg-pagina-7.jpg);
  background-position: center;
  background-size: cover; }
  .escribeme input {
    border: solid 1px white;
    padding: 1%;
    width: 80%; }
  .escribeme textarea {
    border: solid 1px white;
    padding: 1%;
    width: 82%; }
  .escribeme .boton-contacto {
    width: 60%;
    font-family: pleaseWrite, sans-serif;
    font-size: 2em; }

/*# sourceMappingURL=main.css.map */
