//fonts
$myB: myriadB, sans-serif;
$myR: myriadR, sans-serif;
$pls: pleaseWrite, sans-serif;
$sacra: sacramento, cursive;

//color
//rojo chilito
$red: #ff212b;
//rojo oscuro
$red2: #d40000;
//azul textos
$blue: #274470;

//padding y margenes

$pd-top: 5%;
$pd-20: 20%;